.actionButton {
    margin-right: 10px !important;
}

.backToForm {
    margin-right: 10px !important;
    width: auto !important;
}

.titleStyle {
    font-weight: 400;
    color: rgba(21, 26, 45);
    font-size: 24px;
    line-height: 24px;
    margin: 0;
}

