::-webkit-scrollbar {
  overflow: auto;
  width: 8px; ;
  background-color: #31373d;
}

::-webkit-scrollbar-thumb {
  background: mainBackground ;
  border-radius: 6px;
  box-shadow: 0 0 0px rgba(204, 204, 204, 0.8);

}

::-webkit-scrollbar-thumb:hover {
  background: rgba(170, 170, 170, 0.7);
  box-shadow: 0 0 0px mainBackground;
}

::-webkit-scrollbar-track {
  background: transparent;
}
