.textStyle {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

.titleStyle {
    font-weight: 400;
    color: rgb(21, 26, 45);
    font-size: 23px;
    line-height: 24px;
}
