.colInlineValue {
    letter-spacing: 0.1px;
    font-weight: 400;
    color: #4A4F62;
    font-size: 16px;
    line-height: 24px;
}

.colInlineValueSpec {
    letter-spacing: 0.1px;
    font-weight: 400;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}

.reboot {
    color: #0861AF;
    margin-left: 15px;
    cursor: pointer;
}

.reboot:hover {
    color: #3a6e9e;
}
