.copyIcon {
    color: black;
    border-radius: 5px;
    padding: 0px;
    font-size: 25px;
    cursor: pointer;
}

.deleteIcon {
    color: #DE4452;
    border-radius: 5px;
    padding: 0px;
    font-size: 25px;
    cursor: pointer;
}

.downloadIcon {
    color: #0861AF;
    border-radius: 5px;
    padding: 0px;
    padding-top: 1px;
    font-size: 25px;
    cursor: pointer;
}

.powerIcon {
    color: black;
    border-radius: 5px;
    padding: 0px;
    font-size: 25px;
    cursor: pointer;
}

.powerIcon:hover {
    color: #c58a37;
}

.rerunIcon {
    color: #52B87A;
    border-radius: 5px;
    padding: 0px;
    font-size: 25px;
    cursor: pointer;
}
