.mainContainer {
    border-radius: 18px;
    cursor: pointer;
    padding: 0px !important;
    margin: 4px !important;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    --hover-border-color: #0861AF;
}

.illustration{
    height: 150px;
    background-image: var(--logo-image, none), url('../../../../../../assets/images/stars-bg.png');
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
}

.illustration.withLogo {
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
}

.textEnv{
    padding: 15px;
    min-height: 120px;
}

.mainContainer:hover {
    transition: all 0.2s ease-in-out;
    border-color: var(--hover-border-color) !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.iconContainer {
    background-color: #0e61aa2e;
    height: 35px;
    width: 35px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.environmentText {
    font-size: 20px;
    font-weight: 350;
    margin: 0;
}

.descriptionText {
    font-size: 13px;
    font-weight: 500;
    margin: 0;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
