.mainContainer {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.chartTitle {
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
}

.TotalConsumptionsText {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}