.goBack {
    display: flex;
    align-items: center;
}

.iconStyle {
    font-size: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.icon {
    font-size: 20px;
    margin-right: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.link {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: right;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.iconProcessStyle {
    font-size: 50px;
}

.row {
    margin: 10px 0 10px 0 !important;
}

.rowD {
    margin: 20px 0 20px 0 !important;
}

.colElement {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.separator {
    width: 97%;
    color: black;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.imgstyle {
    width: 20px;
}

.active {
    color: #22c8a2;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.inactive {
    color: rgb(74, 79, 98);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

@keyframes toggle_color {
    0% {
        color: #0861AF;
    }

    25% {
        color: #3a6e9e
    }

    50% {
        color: #80a5c8
    }

    75% {
        color: #c0d8ee
    }

    100% {
        color: #f6f7f9;
    }
}

.toggleStarting {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    animation-iteration-count: infinite;
    animation-name: toggle_color;
    animation-duration: 0.8s;
}

.shellExecutorText {
    text-decoration: none !important;
}

.shellExecutorText:hover {
    text-decoration: underline !important;
}

.powredOff {
    color: #f6f7f9;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.colinline {
    display: flex !important;
}

.colInlineValue {
    letter-spacing: 0.1px;
    font-weight: 400;
    color: #4A4F62;
    margin: 0 0 0 8px;
    font-size: 16px;
    line-height: 24px;
}

.colInlineValueSpec {
    letter-spacing: 0.1px;
    font-weight: 400;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}

.textStyle {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 0;

}

.titleStyle {
    font-weight: 400;
    font-size: 23px;
    line-height: 24px;
}

.toggleOn {
    color: #22c8a2;
    margin-left: 15px;
    cursor: pointer;
}

.toggleOn:hover {
    color: #ff6b75;
}

.toggleOff {
    color: #ff6b75;
    margin-left: 15px;
    cursor: pointer;
}

.toggleOff:hover {
    color: #22c8a2;
}

.reboot {
    color: #0861AF;
    margin-left: 15px;
    cursor: pointer;
}

.reboot:hover {
    color: #3a6e9e;
}

.test {
    letter-spacing: 0.1px;
    font-weight: 400;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}

.blocMargin {
    margin: 30px 0 30px 0 !important
}

.bouncingloader {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 12px 0 0 10px;
}

.bouncingloader>div {
    width: 5px;
    height: 5px;
    margin: 0px 2px;
    border-radius: 50%;
    background-color: #a3a1a1;
    opacity: 1;
    animation: bouncingloader 0.6s infinite alternate;
}

@keyframes bouncingloader {
    to {
        opacity: 0.1;
        transform: translateY(-10px);
    }
}

.bouncingloader>div:nth-child(2) {
    animation-delay: 0.2s;
}

.bouncingloader>div:nth-child(3) {
    animation-delay: 0.4s;
}

.pointStyle {
    margin: 0px 2px !important;
}