.avatar {
    height: 75px;
    width: 75px;
    min-width: 35px;
    border-radius: 50px;
}

.row {
    margin: 40px 0 40px 0 !important;
}

.center {
    display: flex;
    justify-content: center;
}

.colavatar {
    margin-right: 20px;
}

.buttonStyle {
    width: 100% !important;
    height: 40px;
    margin: 20px 0 20px 0 !important;
}

.buttonStyle:hover .icon {
    color: #ffffff;
}

.icon {
    margin-right: 8px;
}

.TextFieldFirst {
    margin: 20px 0 20px 0 !important;
    width: 100% !important;
}

.passwordTextField {
    margin: 20px 0 20px 0 !important;
    width: 100% !important;
}

.goBack {
    display: flex;
    align-items: center;
}

.iconStyle {
    font-size: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.link {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: right;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rowtest {
    display: flex !important;
}