.avatar {
    height: 75px;
    width: 75px;
    min-width: 35px;
    border-radius: 50px;
}

.row {
    margin: 40px 0 40px 0 !important;
}

.center {
    display: flex;
    justify-content: center;
}

.colavatar {
    margin-right: 20px;
}

.buttonStyle {
    width: 100% !important;
    height: 40px;
    margin: 20px 0 20px 0 !important;
}

.buttonStyle:hover .icon {
    color: #ffffff;
}

.TextFieldFirst {
    margin: 20px 0 20px 0 !important;
    width: 100% !important;
}

.passwordTextField {
    margin: 20px 0 20px 0 !important;
    width: 100% !important;
}

.rowtest {
    display: flex !important;
}