.iconProcessStyle {
    color: #0861AF;
    font-size: 50px;
}

.container {
    border: 1px solid #dfe0eb;
}

.separator {
    width: 97%;
    color: black;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;

}

.colInlineValue {
    letter-spacing: 0.1px;
    font-weight: 400;
    color: #4A4F62;
    margin: 0 0 0 8px;
    font-size: 16px;
    line-height: 24px;
}

.colInlineValueSpec {
    letter-spacing: 0.1px;
    font-weight: 400;
    color: #4A4F62;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}

.textStyle {
    font-weight: 500;
    color: rgba(21, 26, 45);
    font-size: 16px;
    line-height: 24px;
    margin: 0;

}

.titleStyle {
    font-weight: 400;
    color: rgb(21, 26, 45);
    font-size: 23px;
    line-height: 24px;
}

.test {
    letter-spacing: 0.1px;
    font-weight: 400;
    color: rgb(74, 79, 98);
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}
