.textTitle {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #0861AF;
    letter-spacing: 0.1px;
    padding: 15px;
    margin: 0;
}

.buttonStyle {
    width: 200px;
    height: 50px;
    color: #0861AF;
    margin: 0px 10px 0px 10px;
}

.buttonStyle:hover .icon {
    color: #ffffff;
}
