.container {
    padding: 0 20px 20px 20px;
    min-height: 80vh;
    position: relative
}

.mainTitleText {
    margin: 0;
    font-size: 25px;
    font-weight: 400;
}

.primaryTitle {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
}

.cardsRow {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.tableRow {
    margin-top: 18.4px;
    margin-bottom: 18.4px;
}
