.textTitle {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 0.1px;
    padding: 15px;
    margin: 0;
}

.textStyle {
    font-weight: 600;
    letter-spacing: 0.1px;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    padding: 9px;
}

.link {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: right;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.goBack {
    display: flex;
    align-items: center;
}

.iconStyle {
    color: #0861AF;
    font-size: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.roleStyle {
    letter-spacing: 0.1px;
    font-weight: 400;
    color: rgb(74, 79, 98);
    font-size: 16px;
    line-height: 24px;
}

.row {
    margin: 0 !important;
}

.testrow {
    border-top: 0.2px solid #929191;
}

.labelName {
    letter-spacing: 0.1px;
    font-weight: 400;
    color: rgb(74, 79, 98);
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}

.borderCol {
    padding: 0 !important;
    display: flex;
    justify-content: space-between;
}

.createdStyle {
    letter-spacing: 0.1px;
    font-weight: 400;
    color: rgb(74, 79, 98);
    font-size: 16px;
    line-height: 24px;
    margin: 0 !important;
    padding: 9px;
}