.listIconArrowUpDown {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.arrowUpDown {
    display: flex;
    justify-content: flex-end;
    line-height: 0.5;
}

.delExternalRole {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.delButton {
    font-size: large;
    color: #DE4452 !important;
}

.MuiListItemText-secondary {
    color: #51575d !important;
    font-style: italic !important;
}

.dragDropListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}