.container {
    padding: 0 20px 20px 20px;
    min-height: 80vh;
    position: relative
}

.mainTitleText {
    margin: 0;
    font-size: 25px;
    font-weight: 400;
}

.colElement {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.toggleOn {
    color: #22c8a2;
    font-size: 40px;
    margin-left: 15px;
    cursor: pointer;
}

.toggleOff {
    color: #e1e4eb;
    font-size: 40px;
    margin-left: 15px;
    cursor: pointer;
}